.inner { width: 1200px; margin: auto; padding: 100px 0; }

.inner .title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.inner .title h2 { font-size: xx-large; font-weight: 700; margin-bottom: 50px; }

.inner .title a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-transform: uppercase; -webkit-transform: translateY(-20px); transform: translateY(-20px); color: #bbb; }

#main { position: relative; }

#main .mainVisual { overflow: hidden; position: relative; }

#main .mainVisual::before { content: ""; display: block; }

#main .mainVisual video { width: 100%; height: 100vh; -o-object-fit: cover; object-fit: cover; }

#main .mainVisual .controll { position: absolute; bottom: 0; left: 0; height: 120px; width: 100%; }

#main .mainVisual .controll .container { width: 1800px; z-index: 5; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#main .mainVisual .controll .container .left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .mainVisual .controll .container .left .pause { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 60px; height: 60px; font-size: 2.4rem; border-radius: 50%; background-color: #f60; }

#main .mainVisual .controll .container .left .key { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 1.8rem; text-transform: uppercase; margin-left: 40px; padding: 20px; border: 1px solid #d9d9d9; border-radius: 100px; background-color: rgba(0, 0, 255, 0.2); }

#main .mainVisual .controll .container .left .key span { margin-right: 40px; }

#main .mainVisual .controll .container .center span { font-size: 6rem; }

#main .mainVisual .controll .container .right a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .mainVisual .controll .container .right span { margin-right: 10px; }

#main #business .inner { padding: 100px 0; }

#main #business .inner .list { display: -webkit-box; display: -ms-flexbox; display: flex; }

#main #business .inner .list li { width: 25%; height: 100px; }

#main #business .inner .list li .box { background-repeat: no-repeat; background-position: center; border-right: 2px solid #d9d9d9; }

#main #business .inner .list li .box > p { padding-top: 100px; text-align: center; font-size: 1.8rem; font-weight: 700; }

#main #business .inner .list li .box:hover + .hover { -webkit-transform: translateY(-20px); transform: translateY(-20px); z-index: 3; opacity: 1; }

#main #business .inner .list li .box:hover + .hover h3, #main #business .inner .list li .box:hover + .hover p { opacity: 1; }

#main #business .inner .list li .box01 { background-image: url(../images/main/main_business_icon01.png); }

#main #business .inner .list li .box02 { background-image: url(../images/main/main_business_icon02.png); }

#main #business .inner .list li .box03 { background-image: url(../images/main/main_business_icon03.png); }

#main #business .inner .list li .box04 { background-image: url(../images/main/main_business_icon04.png); border-right: none; }

#main #business .inner .list li .h01 { background-image: url(../images/main/main_business_img01.jpg); }

#main #business .inner .list li .h02 { background-image: url(../images/main/main_business_img02.jpg); }

#main #business .inner .list li .h03 { background-image: url(../images/main/main_business_img03.jpg); }

#main #business .inner .list li .h04 { background-image: url(../images/main/main_business_img04.jpg); }

#main #business .inner .list li .hover { margin-top: -110px; text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 350px; background-position: center; background-repeat: no-repeat; -o-object-fit: cover; object-fit: cover; color: #fff; padding: 50px; opacity: 0; -webkit-transition: 0.25s; transition: 0.25s; z-index: -1; pointer-events: none; }

#main #business .inner .list li .hover h3 { font-size: 4.8rem; }

#main #business .inner .list li .hover p { padding: 20px; }

#main #business .inner .list li .hover h3, #main #business .inner .list li .hover p { -webkit-transition: 0.5s; transition: 0.5s; opacity: 0; }

#main #businessVisual { margin-top: 100px; }

#main #businessVisual .container { background-image: url(../images/main/main_master_img01.jpg); background-repeat: no-repeat; background-position: center; -o-object-fit: cover; object-fit: cover; height: 800px; position: relative; }

#main #businessVisual .container .txtBox { position: absolute; top: 250px; left: 300px; }

#main #businessVisual .container .txtBox h3 { color: #f60; font-size: 2.4rem; font-weight: 700; margin-bottom: 50px; }

#main #businessVisual .container .txtBox .p1 { font-size: 4.8rem; margin-bottom: 20px; }

#main #businessVisual .container .txtBox .p1 strong { font-weight: 900; }

#main #businessVisual .container .txtBox p { color: #fff; line-height: 1.5; }

#main #businessVisual .container > ul { position: absolute; left: 0; top: 0; width: 100%; height: 800px; }

#main #businessVisual .container > ul > li { width: 100%; height: 800px; background-repeat: no-repeat; background-position: center; -o-object-fit: cover; object-fit: cover; position: absolute; top: 0; left: 0; }

#main #businessVisual .container > ul > li .txtBox { color: #fff; position: absolute; right: 20%; top: 40%; }

#main #businessVisual .container > ul > li .txtBox p { font-size: 2.4rem; margin-bottom: 10px; line-height: 1.2; }

#main #businessVisual .container > ul > li .txtBox h3 { font-size: 6rem; line-height: 1.2; }

#main #businessVisual .container > ul > li:nth-child(1) { background-image: url(../images/main/main_master_hover01.jpg); }

#main #businessVisual .container > ul > li:nth-child(2) { background-image: url(../images/main/main_master_hover02.jpg); }

#main #businessVisual .container > ul > li:nth-child(3) { background-image: url(../images/main/main_master_hover03.jpg); }

#main #businessVisual .container > ul > li:nth-child(4) { background-image: url(../images/main/main_master_hover04.jpg); }

#main #businessVisual .container > ul > li:nth-child(5) { background-image: url(../images/main/main_master_hover05.jpg); }

#main #businessVisual .container .page { position: absolute; bottom: 107px; left: 0; height: 40px; width: 100%; }

#main #businessVisual .container .page ul { display: -webkit-box; display: -ms-flexbox; display: flex; text-align: center; color: #fff; background-color: rgba(0, 0, 0, 0.5); font-size: 1.8rem; }

#main #businessVisual .container .page ul li { width: 20%; padding: 40px; border-right: 1px solid rgba(255, 255, 255, 0.2); -webkit-box-sizing: border-box; box-sizing: border-box; }

#main #businessVisual .container .page ul li:last-child { border: none; }

#main #newsroom .inner { padding-bottom: 0; }

#main #newsroom .inner .contents { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#main #newsroom .inner .contents li { width: 32%; padding-bottom: 40px; border-bottom: 3px solid #f5f5f5; }

#main #newsroom .inner .contents li a .imgBox { margin-bottom: 30px; overflow: hidden; }

#main #newsroom .inner .contents li a .imgBox:hover img { -webkit-transform: scale(1.1); transform: scale(1.1); }

#main #newsroom .inner .contents li a .imgBox img { height: 250px; -webkit-transition: 0.25s; transition: 0.25s; }

#main #newsroom .inner .contents li a .txtBox h3 { font-size: 1.8rem; line-height: 1.5; margin-bottom: 10px; }

#main #newsroom .inner .contents li a .txtBox p { font-size: 1.4rem; color: #bbb; }

#main #social .contents ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

#main #social .contents ul li { margin-left: 10px; }

#main #social .contents ul li a { position: relative; }

#main #social .contents ul li a img { width: 240px; margin-bottom: 10px; }

#main #social .contents ul li a .box { position: absolute; right: 10px; bottom: 20px; width: 40px; height: 40px; background-color: #fff; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main #social .contents ul li a .box p { padding: 5px; background-color: green; border-radius: 5px; color: #fff; font-size: 1rem; }

#main #mainBanner { display: -webkit-box; display: -ms-flexbox; display: flex; color: #fff; position: relative; }

#main #mainBanner > div { width: 50%; height: 250px; background-size: 100%; background-position: center; background-repeat: no-repeat; -o-object-fit: cover; object-fit: cover; position: relative; }

#main #mainBanner > div h3 { font-size: 3.6rem; margin-bottom: 20px; }

#main #mainBanner > div p { font-size: 1.8rem; line-height: 1.5; }

#main #mainBanner .forena { background-image: url(../images/main/main_banner_bg_img01.jpg); }

#main #mainBanner .forena a { position: absolute; left: 40%; top: 30%; }

#main #mainBanner .hwenc { background-image: url(../images/main/main_banner_bg_img02.jpg); display: -webkit-box; display: -ms-flexbox; display: flex; }

#main #mainBanner .hwenc div { margin-top: 75px; margin-left: 75px; }

#main #mainBanner .hwenc .linkBox { margin-left: 150px; height: 120px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#main #mainBanner .hwenc .linkBox a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; border-bottom: 1px solid #fff; padding-bottom: 5px; }

#main #mainBanner .hwenc .linkBox a span { margin-left: 50px; }

#main .top { font-size: 1.2rem; position: fixed; right: 5%; bottom: 5%; padding: 10px; }

#main .top:after { content: ""; display: block; position: absolute; width: 30px; height: 2px; background-color: #000; }
