@import "vars";
@import "mixins";

.lnbSub {
  display: none;
  li {
    a {
      padding-left: 30px;
      color: #ccc;
      position: relative;
      font-size: 14px;
      line-height: 1.5;
      &:before {
        content: "";
        display: block;
        @include box(3px);
        background-color: $hover-color;
        position: absolute;
        left: 20px;
        top: 6px;
      }
    }
  }
}

#header {
  width: 100%;
  color: $white-color;
  font-size: $medium-size;
  font-weight: 700;
  height: 100px;
  position: fixed;
  z-index: 100;
  transition: 0.25s;

  &.on,
  &.menu {
    font-weight: 500;
    background-color: $white-color;
    .container {
      #logo {
        .on {
          display: block;
        }
        .off {
          display: none;
        }
      }
      #gnb .list > li {
        > a {
          transition: 0.5s;
          color: #222;
          &:after {
            transition: 0.5s;
          }
        }
        .lnb {
          display: block;
        }
      }
      .etc button,
      .etc span {
        color: #222;
      }
    }
  }
  &.on {
    height: 450px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 99px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #ccc;
      z-index: -1;
    }
  }
  &.menu {
    transition: 0.3s;
    height: 600px;
    .lnbSub {
      display: block;
    }
    .container {
      #gnb {
        position: absolute;
        top: 100px;
        .list {
          > li {
            width: 200px;
            &:hover {
              > a {
                &:after {
                  transform: translateX(-50%) scale(1);
                }
              }
            }
            > a {
              color: $hover-color;
              transition: none;
              justify-content: flex-start;
              padding: 10px;
              font-weight: 800;
              &:after {
                @include pseudo();
                height: 2px;
                bottom: 20px;
                left: 42%;
                right: -20%;
                transform: translateX(-50%) scaleX(1);
                background-color: #ccc;
                transition: none;
              }
            }
            .lnb {
              color: $main-color;
              transition: 0.25s;
              > li {
                > a {
                  display: flex;
                  justify-content: flex-start;
                  font-size: 16px;
                  padding: 15px;
                  transition: 0.25s;
                  &:hover {
                    color: inherit;
                  }
                }
              }
            }
          }
        }
      }
      .etc {
        span {
          &.menuOn {
            display: none;
          }
          &.menuOff {
            display: block;
          }
        }
      }
    }
  }
  .container {
    padding: 0 50px;
    display: flex;
    justify-content: center;
    #logo {
      position: absolute;
      left: 50px;
      padding: 22px;
      .on {
        display: none;
      }
    }
    #gnb {
      .list {
        display: flex;
        justify-content: center;
        > li {
          &:hover {
            > a {
              color: $hover-color;
              &:after {
                transform: translateX(-50%) scale(1);
              }
            }
          }
          > a {
            @include flexCenter;
            font-size: 20px;
            padding: 0 50px;
            height: 100px;
            position: relative;
            &:after {
              @include pseudo();
              height: 2px;
              bottom: 0;
              left: 50%;
              right: -30%;
              transform: translateX(-50%) scaleX(0);
              background-color: $hover-color;
            }
          }
          .lnb {
            color: $main-color;
            transition: 0.25s;
            display: none;
            > li {
              &.master {
                color: $hover-color;
              }
              > a {
                display: flex;
                justify-content: center;
                font-size: 16px;
                padding: 20px;
                transition: 0.25s;
                &:hover {
                  color: $hover-color;
                }
              }
            }
          }
        }
      }
    }
    .etc {
      position: absolute;
      right: 50px;
      top: 30px;
      display: flex;
      align-items: center;
      button {
        color: $white-color;
        font-size: $normal-size;
        font-weight: 700;
      }
      span {
        font-size: 40px;
        margin-left: 10px;
        &.menuOff {
          display: none;
        }
      }
    }
  }
}
// header end
#footer {
  background-color: #000;
  display: flex;
  .logo {
    width: 15%;
    padding: 50px;
  }
  .contents {
    width: 85%;
    color: $white-color;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    .site {
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $gray-color;
      .link {
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a:first-child {
          color: $hover-color;
        }
      }
      .family {
        width: 30%;
        padding: 20px;
        border: 1px solid $gray-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .copy {
      color: $gray-color;
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      .left {
        line-height: 1.5;
      }
      .right {
        width: 30%;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        strong {
          margin-left: 20px;
        }
        .sns {
          ul {
            width: 20%;
            display: flex;
            li {
              margin-left: 50px;
            }
          }
        }
      }
    }
  }
}
// footer end
