@import "vars";
@import "mixins";

#header {
  width: 100%;
  color: $white-color;
  font-size: $medium-size;
  font-weight: 700;
  height: 100px;
  position: fixed;
  z-index: 100;
  transition: 0.25s;
  &.on {
    background-color: $white-color;
    height: 450px;
    .container {
      #logo {
        .on {
          display: block;
        }
        .off {
          display: none;
        }
      }
      #gnb {
        .list {
          > li {
            > a {
              color: #222;
            }
            .lnb {
              display: block;
            }
          }
        }
      }
      .etc {
        button,
        span {
          color: #222;
        }
      }
    }
  }
  .container {
    padding: 0 50px;
    display: flex;
    justify-content: center;
    #logo {
      position: absolute;
      left: 50px;
      padding: 22px;
      .on {
        display: none;
      }
    }
    #gnb {
      &.on {
        background-color: $white-color;
        top: 200px;
      }
      .list {
        display: flex;
        justify-content: center;
        > li {
          > a {
            &:hover {
              color: $hover-color;
              &:after {
                transform: translateX(-50%) scale(1);
              }
            }
            @include flexCenter;
            padding: 0 50px;
            height: 100px;
            transition: 0.5s;
            position: relative;
            &:after {
              @include pseudo();
              width: 150px;
              height: 2px;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%) scaleX(0);
              transition: 0.5s;
              background-color: $hover-color;
            }
          }
          .lnb {
            color: $main-color;
            transition: 0.25s;
            display: none;
            li {
              &.master {
                color: $hover-color;
              }
              a {
                display: flex;
                justify-content: center;
                padding: 20px;
                font-size: $normal-size;
                transition: 0.25s;
                &:hover {
                  color: $hover-color;
                }
              }
            }
          }
        }
      }
    }
    .etc {
      position: absolute;
      right: 50px;
      top: 30px;
      display: flex;
      align-items: center;
      button {
        color: $white-color;
        font-size: $normal-size;
        font-weight: 700;
      }
      span {
        font-size: 40px;
        margin-left: 10px;
      }
    }
  }
}
// header end
#footer {
  background-color: #000;
  display: flex;
  .logo {
    width: 15%;
    padding: 50px;
  }
  .contents {
    width: 85%;
    color: $white-color;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    .site {
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $gray-color;
      .link {
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a:first-child {
          color: $hover-color;
        }
      }
      .family {
        width: 30%;
        padding: 20px;
        border: 1px solid $gray-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .copy {
      color: $gray-color;
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      .left {
        line-height: 1.5;
      }
      .right {
        width: 30%;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        strong {
          margin-left: 20px;
        }
        .sns {
          ul {
            width: 20%;
            display: flex;
            li {
              margin-left: 50px;
            }
          }
        }
      }
    }
  }
}
// footer end
